@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
    --primary-color: #132440;
    --secondary-color: #103651;
    --tertiary-color: #8B8BAE;
    --accent-color: #BF092F;
    --light-color: #4da8fa;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
    color: var(--tertiary-color);
}

body {
    background-color: var(--secondary-color);
}
main {
    background-color: var(--primary-color);
}